<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>예약내역</title>
        <link href="/css/simple-datatables@7.1.2-style.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">

    <!-- header -->
    <div th:insert="~{/header.html}"></div>

    <div id="layoutSidenav">

        <!-- sidebar -->
        <div th:insert="~{/sidebar.html}"></div>

        <div id="layoutSidenav_content">

            <!-- 메인화면 -->
            <main>
                <div class="container mb-5">
                    <h1 class="mt-4">모든 예약내역</h1>

                    <div class="card mb-4">
                        <div class="card-body">
                            모든 사용자의 예약내역입니다. (관리자용)
                        </div>
                    </div>

                    <div class="card mb-4">

                        <div class="card-header d-flex justify-content-between">
                            <i class="fas fa-table me-1"></i>
                            <div>
                                <a class="btn btn-primary text-decoration-none text-white" href="/post/create">시술내역 추가하기</a>
                                <a class="btn btn-danger text-decoration-none text-white" href="/post/deleted">휴지통</a>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>예약 날짜</th>
                                    <th>예약 시간</th>
                                    <th>이름</th>
                                    <th>전화번호</th>
                                    <th>시술내용</th>
                                    <th>세부내용</th>
                                    <th>상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="reservation : ${reservations}">
                                    <td th:text="${reservation.reservationId}"></td>
                                    <td th:text="${reservation.reservationDate}"></td>
                                    <td th:text="${reservation.reservationStartTime}"></td>
                                    <td th:text="${reservation.name}"></td>
                                    <td th:text="${reservation.phone}"></td>
                                    <td th:text="${reservation.parentName}"></td>
                                    <td th:text="${reservation.childName}"></td>
                                    <td>
                                        <!--
                                        <a href="#" th:href="@{/reservation/{reservationId}/update (reservationId=${reservation.reservationId})}" class="btn btn-outline-primary" role="button" th:text="${reservation.state}"></a>
                                        -->
                                        <a role="button"
                                           class="reservationState"
                                           th:text="${reservation.state}"
                                           th:data-state="${reservation.state}"
                                           th:data-id="${reservation.reservationId}"
                                        onclick="showReservationModal(this)">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
                                <form id="modalAction" method="post">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="reservationModalLabel">예약상태 변경</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" id="modalReservationId">
                                                <select class="form-select" name="modalReservationState" id="modalReservationState" aria-label="Default select example">
                                                    <option value="예약대기">예약대기</option>
                                                    <option value="예약확정">예약확정</option>
                                                    <option value="시술완료">시술완료</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                <button type="submit" class="btn btn-primary">변경하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </main>
            <!-- 메인화면 끝 -->

            <!-- footer -->
            <div th:insert="~{/footer.html}"></div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/js/chart-area-demo.js"></script>
    <script src="/js/chart-bar-demo.js"></script>
    <script src="/js/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="/js/datatables-simple-demo.js"></script>

    <script>
        document.querySelectorAll('.reservationState').forEach(function(reservationState) {
            if (reservationState.innerText === '예약대기') {
                reservationState.classList.add('btn', 'btn-outline-danger');
            } else if (reservationState.innerText === '예약확정') {
                reservationState.classList.add('btn', 'btn-outline-primary');
            } else if (reservationState.innerText === '시술완료') {
                reservationState.classList.add('btn', 'btn-outline-secondary');
            }
        });


        // 모달
        function showReservationModal(modal) {
            const reservationId = modal.dataset.id;
            const reservationState = modal.dataset.state;
            const stateSelect = document.getElementById("modalReservationState");

            document.getElementById("modalReservationId").value = reservationId;

            if (reservationState === '예약대기') {
                stateSelect.value = '예약대기';
            } else if (reservationState === '예약확정') {
                stateSelect.value = '예약확정';
            } else if (reservationState === '시술완료') {
                stateSelect.value = '시술완료';
            }

            const form = document.getElementById("modalAction");
            form.action = '/reservation/'+reservationId+'/stateUpdate';

            var reservationModal = new bootstrap.Modal(document.getElementById("reservationModal"));
            reservationModal.show();
        }
    </script>

    </body>
</html>
