<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>시술내역 등록</title>
</head>
<body>
<form action="/test/post/create" method="post" enctype="multipart/form-data">

    <h3>시술내역 등록</h3>

    <label for="name">이름:</label>
    <input type="text" id="name" name="name" required /><br/>

    <label for="phone">전화번호:</label>
    <input type="text" id="phone" name="phone" oninput="formatPhoneNumber(this)" required /><br/>

    <label for="birthDay">생년월일:</label>
    <input type="date" id="birthDay" name="birthDay" /><br/>

    <label for="visitPath">방문 경로:</label>
    <select id="visitPath" name="visitPath">
        <option value="" disabled selected>방문 경로 선택</option>
        <th:block th:each="visit : ${visits}">
            <option th:value="${visit.id}" th:text="${visit.visitPath}"></option>
        </th:block>
    </select><br/>

    <h3>시술 내용</h3>
    <label for="parentTreatment">시술 내용</label>
    <select id="parentTreatment" name="parentTreatment" onchange="updateChildTreatments()">
        <option value="" selected>상위 시술을 선택하세요</option>
        <th:block th:each="treatment : ${treatments}">
            <option th:value="${treatment.treatmentId}" th:data="${treatment.name}" th:text="${treatment.name}"></option>
        </th:block>
    </select><br/>

    <label for="childTreatment">세부 내용:</label>
    <select class="form-control" id="childTreatment" onchange="updateInputField()">
        <option value="">세부 내용 선택</option>
    </select>

    <input type="hidden" id="directInput" name="childTreatment">
    <input class="form-control" type="text" id="childView"><br/>

    <label for="treatmentDate">시술 날짜:</label>
    <input type="date" id="treatmentDate" name="treatmentDate" /><br/>

    <label for="beforeImageFile">시술 전 사진 업로드:</label>
    <input type="file" id="beforeImageFile" name="beforeImageFile" accept="image/*" /><br/>

    <label for="afterImageFile">시술 후 사진 업로드:</label>
    <input type="file" id="afterImageFile" name="afterImageFile" accept="image/*" /><br/>

    <!--    <label for="retouch">리터치 여부:</label>
        <input type="checkbox" id="retouch" name="retouch" /><br/>

        <label for="retouchDate">리터치 날짜:</label>
        <input type="date" id="retouchDate" name="retouchDate" /><br/>-->

    <label for="info">비고:</label>
    <textarea id="info" name="info"></textarea><br/>

    <button type="submit">저장</button>
</form>

<script>
    function updateChildTreatments() {
        const parentSelect = document.getElementById('parentTreatment');
        const childSelect = document.getElementById('childTreatment');

        childSelect.innerHTML = '<option value="">세부 내용 선택</option>';

        const selectedOption = parentSelect.options[parentSelect.selectedIndex];
        const selectedParentId = selectedOption.value;
        console.log("value" + selectedParentId);

        if (selectedParentId){
            fetch(`/find/child/${selectedParentId}`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(child => {
                        const option = document.createElement('option');
                        option.value = child.id;
                        option.textContent = child.name; // child.name 설정
                        childSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error', error));
        }
    }

    function updateInputField() {
        const childSelect = document.getElementById('childTreatment');
        const directInput = document.getElementById('directInput');
        const childView = document.getElementById('childView');

        directInput.value = childSelect.value;
        childView.value = childSelect.options[childSelect.selectedIndex].textContent;
    }

</script>

<script>
    function formatPhoneNumber(input) {
        let value = input.value.replace(/\D/g, '');
        if (value.length > 3 && value.length <= 7) {
            value = value.replace(/(\d{3})(\d{0,4})/, '$1-$2');
        } else if (value.length > 7) {
            value = value.replace(/(\d{3})(\d{4})(\d{0,4})/, '$1-$2-$3');
        }
        input.value = value;
    }
</script>
</body>
</html>
