<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>시술 내역</title>
</head>
<body>
<h1>시술내역</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>시술내용</th>
                    <th>시술내용</th>
                    <th>시술날짜</th>
                    <th>방문경로</th>
                    <th>리터치</th>
                    <th>리터치 날짜</th>
                    <th>비고</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td th:text="${post.id}"></td>
                    <td>
                        <a class="d-block text-decoration-none" th:href="@{/user/{id}/edit (id=${post.userId})}" th:text="${post.name}"></a>
                    </td>
                    <td th:text="${post.phone}"></td>
                    <td th:text="${post.parentName}"></td>
                    <td th:text="${post.childName}"></td>
                    <td th:text="${post.treatmentDate}"></td>
                    <td th:text="${post.visitName}"></td>
                    <td style="text-align: center;">
                        <input type="checkbox" th:checked="${post.retouch == true}" style="transform: scale(1.5);" disabled>
                    </td>
                    <td th:text="${post.retouchDate}"></td>
                    <td th:text="${post.info}"></td>
                    <td>
                        <a href="#" th:href="@{/post/{id}/edit (id=${post.id})}" class="btn btn-primary" role="button">수정</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



</body>
</html>