<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>게시물 리스트</title>
</head>
<body>
<h1>게시물 리스트</h1>

<table border="1">
  <thead>
  <tr>
    <th>제목</th>
    <th>대분류</th>
    <th>소분류</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${posts}">
    <td>
      <a class="d-block text-decoration-none" th:href="@{/testPost/{postId}/update (postId=${post.id})}" th:text="${post.title}"></a>
    </td>
    <td th:text="${post.directMainInput}"></td>
    <td th:text="${post.directSubInput != null ? post.directSubInput : '없음'}"></td>
  </tbody>
</table>

</body>
</html>