<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>공지사항 수정</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<!-- header -->
<div th:insert="~{/header.html}"></div>

<div id="layoutSidenav">

    <!-- sidebar -->
    <div th:insert="~{/sidebar.html}"></div>

    <div id="layoutSidenav_content">

        <!-- 메인화면 -->
        <main>
            <div class="container mb-5">
                <article class="col-md-12 justify-content-center">
                    <form th:action="'/notice/'+${notices.noticeId}+'/update'" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="noticeId" th:value="${notices.noticeId}"/>
                        <div id="noticeTitle" class="justify-content-center mt-5 mb-3 border">

                            <h2><input type="text" name="title" class="p-3 fw-bold w-100" th:value="${notices.title}" placeholder="제목을 입력하세요."></h2>
                            <div class="bg-light p-3 d-flex justify-content-between">
                                <div class="d-flex p-2">
                                    <label for="important" class="form-label">중요 공지사항</label>
                                    <input id="important" name="important" type="checkbox" th:checked="*{notices.important == 'Y'}" style="margin-left: 10px; transform: scale(1.5);" />
                                </div>
                            </div>

                        </div>

                        <div id="noticeBody" class="col-md-12 mt-5 mb-5">

                            <div class="mb-4" id="beforeImagePreview">
                                <div th:if="${notices.imageUrls != null and !notices.imageUrls.isEmpty()}">
                                    <div class="text-center" th:each="imageurl : ${notices.imageUrls}">
                                        <img th:id="${imageurl}" th:src="'http://hhjnn92.synology.me/AutumnBrow/notice/'+${imageurl}" style="width: 60%;"/>
                                        <a class="btn btn-danger" th:data-name="${imageurl}" style="position: relative; top: 0;" onclick="deleteImage(this)">삭제</a>
                                    </div>
                                </div>
                                <div th:if="${notices.imageUrls == null or notices.imageUrls.isEmpty()}">
                                </div>
                            </div>

                            <div class="mb-4">
                                <label for="noticeImages" class="form-label">사진 변경</label>
                                <input class="form-control" id="noticeImages" name="noticeImages" type="file" accept="image/*" multiple onchange="previewMultipleImages(event, 'beforeImagePreview')" />
                            </div>

                            <div class="mb-4">
                                <textarea class="form-control col-md-12" name="content"
                                          placeholder="내용을 입력하세요."
                                          style="height: 200px;" maxlength="1000"
                                          th:utext="${notices.content}"></textarea>
                            </div>

                        </div>

                        <div id="noticeComment">

                        </div>

                        <div class="d-flex justify-content-between">
                            <div>
                                <button type="submit" class="btn btn-primary">저장</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/notice/update'">취소</button>
                            </div>
                            <button type="button" class="btn btn-danger" th:value="${notices.noticeId}" onclick="noticeDelete(this.value)">삭제</button>
                        </div>
                    </form>
                </article>
            </div>
        </main>
        <!-- 메인화면 끝 -->

        <!-- footer -->
        <div th:insert="~{/footer.html}"></div>

    </div>
</div>


<script>

    let selectedFiles = []; // 선택한 파일을 저장할 배열

    function previewMultipleImages(event, previewId) {
        const fileInput = event.target;
        const previewImg = document.getElementById(previewId);

        selectedFiles = []; // 배열 초기화

        if (fileInput.files) {
            Array.from(fileInput.files).forEach((file, index) => {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const div = document.createElement('div');
                    div.className = 'text-center';

                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.width = '60%'; // 미리보기 이미지 크기 조정
                    img.id = `img${index}`;
                    div.appendChild(img);
                    previewImg.appendChild(div);

                    // 파일 배열에 추가
                    selectedFiles.push(file);

                    const a = document.createElement('a');
                    a.className = 'btn btn-danger';
                    a.innerText = '삭제';
                    a.style.marginLeft = '10px';

                    a.onclick = function() {
                        // 미리보기에서 이미지 제거
                        previewImg.removeChild(div);

                        // 배열에서 파일 제거
                        selectedFiles.splice(selectedFiles.indexOf(file), 1); // 선택된 파일 배열에서 삭제

                        // 파일 입력 요소의 FileList 업데이트
                        updateFileInput(fileInput);
                    };

                    div.appendChild(a);

                };
                reader.readAsDataURL(file);
            });
        }
    }

    function updateFileInput(fileInput) {
        const dataTransfer = new DataTransfer();

        // 현재 선택된 파일을 dataTransfer에 추가
        selectedFiles.forEach(file => {
            dataTransfer.items.add(file);
        });

        // fileInput의 파일 목록을 업데이트
        fileInput.files = dataTransfer.files;
    }

    function deleteImage(images) {
        const imageUrl = images.getAttribute('data-name');
        console.log(imageUrl);

        if (confirm("이 이미지를 삭제하시겠습니까?")){
            $.ajax({
                url: '/notice/deleteImage/' + imageUrl,
                type: 'POST',
                success: function(response) {
                    console.log(response);
                    const imageDiv = document.getElementById(imageUrl).parentElement;
                    imageDiv.remove();
                },
                error: function(xhr, status, error) {
                    alert('이미지 삭제에 실패했습니다.');
                    const errorMessage = xhr.responseText;
                }
            });
        }

    }


    function noticeDelete(elements) {
        console.log(elements);

        if (confirm("정말 삭제하시겠습니까?")) {
            $.ajax({
                url: '/notice/'+ elements + '/delete',
                type: 'DELETE',
                success: function(response) {
                    alert('삭제가 완료되었습니다.');
                    if (response.redirectUrl) {
                        window.location.href = response.redirectUrl;
                    }
                },
                error: function(xhr, status, error) {
                    alert('삭제에 실패했습니다.');
                    const errorMessage = xhr.responseText;
                }
            });
        }
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>

</body>
</html>
