<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>공지사항</title>
    <link href="/css/simple-datatables@7.1.2-style.min.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<!-- header -->
<div th:insert="~{/header.html}"></div>

<div id="layoutSidenav">

    <!-- sidebar -->
    <div th:insert="~{/sidebar.html}"></div>

    <div id="layoutSidenav_content">

        <!-- 메인화면 -->
        <main>
            <div class="container mb-5">
                <h1 class="mt-4 mb-5">공지사항</h1>

                <ul class="list-group">
                    <li class="col-md-12 p-3 fw-bold" style="display: table; border-top: 2px solid; border-bottom: 2px solid #c3c3c3;">
                        <div class="text-center" style="display: table-cell; width: 50px; border-right: 1px solid #ddd;">번호</div>
                        <div class="text-center" style="display: table-cell; border-right: 1px solid #ddd;">제목</div>
                        <div class="text-center" style="display: table-cell; width: 110px; border-right: 1px solid #ddd;">날짜</div>
                        <div class="text-center" style="display: table-cell; width: 70px;">조회수</div>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="col-md-12 p-3" style="display: table; border-bottom: 1px solid #ddd;" th:each="notice, stat : ${notices}" th:classappend="${notice.important == 'Y'} ? 'bg-light fw-bold' : ''">
                        <div class="text-center" style="display: table-cell; width: 50px; border-right: 1px solid #ddd;" th:text="${stat.index + 1}"></div>
                        <div style="padding-left: 20px; border-right: 1px solid #ddd; ; display: table-cell;"><a class="text-decoration-none text-dark" th:href="@{/notice/{id}/detail (id=${notice.noticeId})}" th:text="${notice.title}"></a></div>
                        <div class="text-center" style="display: table-cell; width: 110px; border-right: 1px solid #ddd;" th:text="${#temporals.format(notice.noticeDate, 'YY.MM.dd')}"></div>
                        <div class="text-center" style="display: table-cell; width: 70px;" th:text="${notice.noticeHits}"></div>
                    </li>
                </ul>

                <br><br><br><br>

                <ul class="list-group">
                    <li class="list-group-item fw-bold" style="border-top: 2px solid; border-bottom: 2px solid #c3c3c3;">
                        <div class="row">
                            <div class="col-2 text-center">번호</div>
                            <div class="col" style="padding-left: 20px;">제목</div>
                            <div class="col-2 text-center">날짜</div>
                            <div class="col-3 text-center">조회수</div>
                        </div>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item" th:each="notice, stat : ${notices}" th:classappend="${notice.important == 'Y'} ? 'bg-light fw-bold' : ''">
                        <div class="row">
                            <div class="col-2 text-center" th:text="${stat.index + 1}"></div>
                            <div class="col" style="padding-left: 20px;">
                                <a class="text-decoration-none text-dark" th:href="@{/notice/{id}/detail (id=${notice.noticeId})}" th:text="${notice.title}"></a>
                            </div>
                            <div class="col-2 text-center" th:text="${#temporals.format(notice.noticeDate, 'YY.MM.dd')}"></div>
                            <div class="col-3 text-center" id="hits" th:text="${notice.noticeHits}"></div>
                        </div>
                    </li>
                </ul>

            </div>
        </main>
        <!-- 메인화면 끝 -->

        <!-- footer -->
        <div th:insert="~{/footer.html}"></div>

    </div>
</div>

<script>
    function formatNumber(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    const hits = document.getElementById('hits');
    const formating = parseInt(hits.textContent.trim(), 10);
    if (!isNaN(formating)) {
        hits.textContent = formatNumber(formating);
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/js/chart-area-demo.js"></script>
<script src="/js/chart-bar-demo.js"></script>
<script src="/js/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>
</body>
</html>