<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>시술내역 수정</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<!-- header -->
<div th:insert="~{/header.html}"></div>

<div id="layoutSidenav">

    <!-- sidebar -->
    <div th:insert="~{/sidebar.html}"></div>

    <div id="layoutSidenav_content">

        <!-- 메인화면 -->
        <main>
            <div class="container mb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">시술내역 수정</h3>
                            </div>
                            <div class="card-body">
                                <form th:action="'/post/'+${post.postId}+'/update'" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="postId" th:value="${post.postId}"/>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">이름</label>
                                        <input class="form-control" id="name" type="text" th:value="${post.user.name}" readonly />
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone" class="form-label">전화번호</label>
                                        <input class="form-control" id="phone" type="text" th:value="${post.user.phone}" oninput="formatPhoneNumber(this)" readonly />
                                    </div>
                                    <div class="mb-3">
                                        <label for="birthDay" class="form-label">생년월일</label>
                                        <input class="form-control" id="birthDay" type="date" th:value="${post.user.birthDay}" readonly />
                                    </div>




                                    <div class="mb-3">
                                        <label for="visitPath" class="form-label">방문 경로</label>
                                        <select class="form-select" id="visitPath" name="visitPath">
                                            <option value="" selected>방문 경로 선택</option>
                                            <th:block th:each="visit : ${visits}">
                                                <option th:value="${visit.visitId}" th:text="${visit.visitPath}" th:selected="${visit.visitId == post.visitId}"></option>
                                            </th:block>
                                        </select>
                                    </div>





                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="parentTreatment" class="form-label">시술 내용</label>
                                            <select class="form-select" id="parentTreatment" name="parentTreatment" onchange="updateChildTreatments(this.value)">
                                                <option value="" selected>시술내용 선택</option>
                                                <th:block th:each="treatment : ${treatments}">
                                                    <option th:value="${treatment.treatmentId}" th:text="${treatment.name}" th:selected="${treatment.treatmentId == post.parentTreatment}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="childTreatment" class="form-label">세부 내용</label>
                                            <select class="form-select" id="childTreatment" onchange="updateInputField()">
                                                <option value="">세부내용 선택</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" id="directInput" name="childTreatment" th:value="${post.childTreatment}" />
                                            <label class="form-label">　</label>
                                            <input class="form-control" type="text" id="childView" name="childView" readonly />
                                        </div>
                                    </div>



                                    <div class="mb-3">
                                        <label for="treatmentDate" class="form-label">시술 날짜</label>
                                        <input class="form-control" id="treatmentDate" name="treatmentDate" type="datetime-local" th:value="${#temporals.format(post.treatmentDate, 'yyyy-MM-dd HH:mm')}" />
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="beforeImageFile" class="form-label">시술 전 사진</label>
                                            <div class="mb-3">
                                                <img id="beforeImagePreview" th:src="@{|http://hhjnn92.synology.me/AutumnBrow/BeforeAndAfter/${post.beforeImageUrl}|}" style="max-width: 200px; max-height: 200px; cursor: pointer;" onclick="openImageInNewWindow(this.src)" />
                                            </div>
                                            <input class="form-control" id="beforeImageFile" name="beforeImageFile" type="file" accept="image/*" onchange="previewImage(event, 'beforeImagePreview')" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="afterImageFile" class="form-label">시술 후 사진</label>
                                            <div class="mb-3">
                                                <img id="afterImagePreview" th:src="@{|http://hhjnn92.synology.me/AutumnBrow/BeforeAndAfter/${post.afterImageUrl}|}" style="max-width: 200px; max-height: 200px; cursor: pointer;" onclick="openImageInNewWindow(this.src)" />
                                            </div>
                                            <input class="form-control" id="afterImageFile" name="afterImageFile" type="file" accept="image/*" onchange="previewImage(event, 'afterImagePreview')" />
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label for="retouch" class="form-label">리터치 여부</label>
                                        <input id="retouch" name="retouch" type="checkbox" th:checked="${post.retouch == true}" style="transform: scale(1.5);" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="retouchDate" class="form-label">리터치 날짜</label>
                                        <input class="form-control" id="retouchDate" name="retouchDate" type="date" th:value="${post.retouchDate}" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="info" class="form-label">비고</label>
                                        <input class="form-control" id="info" name="info" type="text" placeholder="비고사항" th:value="${post.info}" />
                                    </div>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <button type="submit" class="btn btn-primary">저장</button>
                                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/post/list'">취소</button>
                                            </div>
                                            <button type="button" class="btn btn-danger" th:value="${post.postId}" onclick="postDelete(this.value)">휴지통</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- 메인화면 끝 -->

        <!-- footer -->
        <div th:insert="~{/footer.html}"></div>

    </div>
</div>


<script>
    function updateChildTreatments(value) {
        const parentSelect = document.getElementById('parentTreatment');
        const childSelect = document.getElementById('childTreatment');
        childSelect.innerHTML = '<option value="">세부 내용 선택</option>';

        const directInput = document.getElementById('directInput').value;

        const selectedOption = parentSelect.options[parentSelect.selectedIndex];
        const selectedParentId = selectedOption.value;
        console.log("value" + selectedParentId);

/*        if(selectedParentId === "1"){
            console.log("직접입력");
            childSelect.innerHTML = '<option value="">직접입력</option>';
            document.getElementById("childView").readOnly = false;  // 입력 필드 활성화
            document.getElementById("childView").value = '';
            document.getElementById("directInput").value = '';
            return;
        }
        */
        if (value) {
            fetch(`/find/child/${value}`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(child => {
                        const option = document.createElement('option');
                        option.value = child.treatmentId;
                        option.textContent = child.name; // child.name 설정
                        if (option.value === directInput) {
                            option.selected = true;

                            // 여기서만 childView를 업데이트
                            const childView = document.getElementById('childView');
                            childView.value = child.name;
                        }
                        childSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error', error));
        }
    }


    function updateInputField() {
        const childSelect = document.getElementById('childTreatment');
        const directInput = document.getElementById('directInput');
        const childView = document.getElementById('childView');

        directInput.value = childSelect.value;
        childView.value = childSelect.options[childSelect.selectedIndex].textContent;
        childView.readOnly = true;

    }

    window.onload = function () {
        const selectedParentId = document.getElementById('parentTreatment').value;
        if (selectedParentId) {
            updateChildTreatments(selectedParentId);
        }
    };

    function previewImage(event, previewId) {
        const fileInput = event.target;
        const previewImg = document.getElementById(previewId);

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function(e) {
                previewImg.src = e.target.result;
            }

            reader.readAsDataURL(fileInput.files[0]);
        }
    }

    function openImageInNewWindow(imageSrc) {
        window.open(imageSrc, '_blank', 'toolbar=no,scrollbars=yes,resizable=yes,width=800,height=600');
    }

    function postDelete(postId){
        const url = `/post/${postId}/delete`;

        fetch(url,{
            method: 'POST'
        })
            .then(response => {
                window.location.href = '/post/list';
            })
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script>
    function formatPhoneNumber(input) {
        let value = input.value.replace(/\D/g, '');
        if (value.length > 3 && value.length <= 7) {
            value = value.replace(/(\d{3})(\d{0,4})/, '$1-$2');
        } else if (value.length > 7) {
            value = value.replace(/(\d{3})(\d{4})(\d{0,4})/, '$1-$2-$3');
        }
        input.value = value;
    }
</script>
</body>
</html>
