<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>내 시술내역</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<!-- header -->
<div th:insert="~{/header.html}"></div>

<div id="layoutSidenav">

    <!-- sidebar -->
    <div th:insert="~{/sidebar.html}"></div>

    <div id="layoutSidenav_content">

        <!-- 메인화면 -->
        <main>
            <div class="container mb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">내 시술내역</h3></div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="name" class="form-label">이름</label>
                                    <input class="form-control" id="name" th:value="${post.name}" readonly />
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">전화번호</label>
                                    <input class="form-control" id="phone" th:value="${post.phone}" readonly />
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="parentTreatment" class="form-label">시술 내용</label>
                                        <input class="form-control" id="parentTreatment" th:value="${post.parentName}" readonly />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="childTreatment" class="form-label">세부 내용</label>
                                        <input class="form-control" id="childTreatment" th:value="${post.childName}" readonly />
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="treatmentDate" class="form-label">시술 날짜</label>
                                    <input class="form-control" id="treatmentDate"  type="datetime-local" th:value="${#temporals.format(post.treatmentDate, 'yyyy-MM-dd HH:mm')}" readonly />
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="beforeImagePreview" class="form-label">시술 전 사진</label>
                                        <div class="mb-3">
                                            <img id="beforeImagePreview" th:src="@{|http://hhjnn92.synology.me/AutumnBrow/BeforeAndAfter/${post.beforeImageUrl}|}" style="max-width: 200px; max-height: 200px; cursor: pointer;" onclick="openImageInNewWindow(this.src)" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="afterImagePreview" class="form-label">시술 후 사진</label>
                                        <div class="mb-3">
                                            <img id="afterImagePreview" th:src="@{|http://hhjnn92.synology.me/AutumnBrow/BeforeAndAfter/${post.afterImageUrl}|}" style="max-width: 200px; max-height: 200px; cursor: pointer;" onclick="openImageInNewWindow(this.src)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="retouch" class="form-label">리터치 여부</label>
                                    <input id="retouch" type="checkbox" th:checked="${post.retouch == true}" style="transform: scale(1.5);" readonly />
                                </div>
                                <div class="mb-3">
                                    <label for="retouchDate" class="form-label">리터치 날짜</label>
                                    <input class="form-control" id="retouchDate" type="date" th:value="${post.retouchDate}" readonly />
                                </div>
                                <div class="mt-5">
                                    <a class="btn btn-primary" th:href="@{/post/{id}/ownList (id=${post.userId})}">돌아가기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- 메인화면 끝 -->

        <!-- footer -->
        <div th:insert="~{/footer.html}"></div>

    </div>
</div>


<script>
    function openImageInNewWindow(imageSrc) {
        window.open(imageSrc, '_blank', 'toolbar=no,scrollbars=yes,resizable=yes,width=800,height=600');
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>

</body>
</html>
