<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>시술내역 등록</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<!-- header -->
<div th:insert="~{/header.html}"></div>

<div id="layoutSidenav">

    <!-- sidebar -->
    <div th:insert="~{/sidebar.html}"></div>

    <div id="layoutSidenav_content">

        <!-- 메인화면 -->
        <main>
            <div class="container mb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">시술내역 등록</h3>
                            </div>
                            <div class="card-body">
                                <form action="/post/create" method="post" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">이름</label>
                                        <input class="form-control" id="name" name="name" type="text" placeholder="이름을 입력하세요." required/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone" class="form-label">전화번호</label>
                                        <input class="form-control" id="phone" name="phone" type="text" placeholder="전화번호를 입력하세요." oninput="formatPhoneNumber(this)" required/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="birthDay" class="form-label">생년월일</label>
                                        <input class="form-control" id="birthDay" name="birthDay" type="date" />
                                    </div>


                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="visitId" class="form-label">방문 경로</label>
                                            <select class="form-select" id="visitId" name="visitId" onchange="updateVisitPath()">
                                                <option value="" selected>방문 경로 선택</option>
                                                <th:block th:each="visit : ${visits}">
                                                    <option th:value="${visit.visitId}" th:text="${visit.visitPath}"></option>
                                                </th:block>
                                                <option>직접입력</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="visitPath" class="form-label">　</label>
                                            <input class="form-control" type="text" id="visitPath" name="visitPath" readonly/>
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="parentTreatment" class="form-label">시술 내용</label>
                                            <select class="form-select" id="parentTreatment" name="parentTreatment" onchange="updateChildTreatments()">
                                                <option value="" selected>시술내용 선택</option>
                                                <th:block th:each="treatment : ${treatments}">
                                                    <option th:value="${treatment.treatmentId}" th:data="${treatment.name}" th:text="${treatment.name}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="childTreatment" class="form-label">세부 내용</label>
                                            <select class="form-select" id="childTreatment" onchange="updateInputField()">
                                                <option value="">세부 내용 선택</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" id="treatmentDirectInput" name="childTreatment" />
                                            <label class="form-label">　</label>
                                            <input class="form-control" type="text" id="childView" name="childView" readonly/>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="treatmentDate" class="form-label">시술 날짜</label>
                                        <input class="form-control" id="treatmentDate" name="treatmentDate" type="datetime-local" />
                                    </div>

                                    <div class="row mb-3">

                                        <div class="col-md-6">
                                            <label for="beforeImageFile" class="form-label">시술 전 사진</label>
                                            <div>
                                                <img id="beforeImagePreview" style="max-width: 260px; max-height: 230px;">
                                            </div>
                                            <input class="form-control" id="beforeImageFile" name="beforeImageFile" type="file" accept="image/*" onchange="previewImage(event, 'beforeImagePreview')" />
                                        </div>

                                        <div class="col-md-6">
                                            <label for="afterImageFile" class="form-label">시술 후 사진</label>
                                            <div>
                                                <img id="afterImagePreview" style="max-width: 260px; max-height: 230px;">
                                            </div>
                                            <input class="form-control" id="afterImageFile" name="afterImageFile" type="file" accept="image/*" onchange="previewImage(event, 'afterImagePreview')" />
                                        </div>

                                    </div>

                                    <div class="mb-3">
                                        <label for="info" class="form-label">비고</label>
                                        <input class="form-control" id="info" name="info" type="text" placeholder="비고사항" />
                                    </div>

                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary btn-block">등록하기</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- 메인화면 끝 -->

        <!-- footer -->
        <div th:insert="~{/footer.html}"></div>

    </div>
</div>

    <script>
        // 방문경로 처리 함수
        function updateVisitPath() {
            const select = document.getElementById("visitId");
            const visitPathInput = document.getElementById("visitPath");

            if (select.value === "직접입력") {
                visitPathInput.removeAttribute("readonly");
                visitPathInput.value = ""; // 사용자가 직접 입력할 수 있도록 초기화
            } else {
                visitPathInput.setAttribute("readonly", true);
                visitPathInput.value = select.options[select.selectedIndex].text; // 선택한 값으로 표시
            }
        }


        // 이미지 프리뷰 함수
        function previewImage(event, previewId) {
            const fileInput = event.target;
            const previewImg = document.getElementById(previewId);
            if(previewImg.parentElement.querySelector('.btn.btn-danger')){
                previewImg.parentElement.removeChild(previewImg.parentElement.querySelector('.btn.btn-danger'));
            }

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    previewImg.src = e.target.result;

                    const a = document.createElement('a');
                    a.className = 'btn btn-danger';
                    a.innerText = '삭제';
                    a.style.marginLeft = '10px';

                    a.onclick = function() {
                        previewImg.src = '';
                        const fileInput = previewImg.closest('.col-md-6').querySelector('input[type="file"]');
                        if (fileInput) {
                            fileInput.value = ''; // 파일 입력 값 초기화
                        }
                        previewImg.parentElement.removeChild(a); // 삭제 버튼 제거
                    };

                    previewImg.parentElement.appendChild(a);
                }

                reader.readAsDataURL(fileInput.files[0]);
            }

        }


        // 시술내역 처리 함수
        function updateChildTreatments() {
            const parentSelect = document.getElementById('parentTreatment');
            const childSelect = document.getElementById('childTreatment');
            childSelect.innerHTML = '<option value="">세부 내용 선택</option>';

            const selectedOption = parentSelect.options[parentSelect.selectedIndex];
            const selectedParentId = selectedOption.value;
            console.log("value" + selectedParentId);

            if(selectedParentId === "1"){
                console.log("직접입력");
                childSelect.innerHTML = '<option value="">직접입력</option>';
                document.getElementById("childView").readOnly = false;  // 입력 필드 활성화
                document.getElementById("childView").value = '';
                document.getElementById("treatmentDirectInput").value = '';
                return;
            }

            if (selectedParentId){
                fetch(`/find/child/${selectedParentId}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(child => {
                            const option = document.createElement('option');
                            option.value = child.treatmentId;
                            option.textContent = child.name; // child.name 설정
                            childSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error', error));
            }
        }


        function updateInputField() {
            const childSelect = document.getElementById('childTreatment');
            const treatmentDirectInput = document.getElementById('treatmentDirectInput');
            const childView = document.getElementById('childView');

            treatmentDirectInput.value = childSelect.value;
            childView.value = childSelect.options[childSelect.selectedIndex].textContent;
            childView.readOnly = true;
        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script>
        function formatPhoneNumber(input) {
            let value = input.value.replace(/\D/g, '');
            if (value.length > 3 && value.length <= 7) {
                value = value.replace(/(\d{3})(\d{0,4})/, '$1-$2');
            } else if (value.length > 7) {
                value = value.replace(/(\d{3})(\d{4})(\d{0,4})/, '$1-$2-$3');
            }
            input.value = value;
        }
    </script>
</body>
</html>
