<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; <a class="text-decoration-none text-muted" href="/">Autumn Brow</a></div>
            <div>
                <a class="text-decoration-none text-muted" href="https://www.instagram.com/autumn_brow__/"><img src="https://img.icons8.com/?size=20&id=32320&format=png&color=000000"> @autumn_brow__</a>
                &middot;
                <span class="text-decoration-none text-muted"><img src="https://img.icons8.com/?size=16&id=9659&format=png&color=000000"> 010-4480-7338</span>
            </div>
        </div>
    </div>
</footer>