<style>
    #btnNavbarSearch {
        background: #2A120A;
        border-color: #2A120A;
    }
</style>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-autumnbrow">
    <!-- Navbar Brand-->
    <a class="navbar-autumnbrow ps-3" href="/"><img src="http://hhjnn92.synology.me/Project/AutumnBrow/AutumnBrow.png" style="width: 50px; height: 50px;">Autumn Brow</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="검색어를 입력해 주세요." aria-label="검색어를 입력해 주세요." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown" th:unless="${session.user != null}"> <!-- 세션 없을 때-->
            <a class="nav-link-autumn dropdown-toggle-autumn" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="img-profile rounded-circle" src="http://hhjnn92.synology.me/Project/AutumnBrow/AutumnBrow.png" style="width: 40px; height: 40px;">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/user/login">로그인</a></li>
                <li><a class="dropdown-item" href="/user/register">회원가입</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown" th:if="${session.user != null}"> <!-- 세션 있을 때-->
            <a class="nav-link-autumn dropdown-toggle-autumn" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span th:text="${session.user.name}"></span>님
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{/user/{userId}/edit (userId=${session.user.userId})}">내 정보</a></li>
                <li><a class="dropdown-item" th:href="@{/reservation/{userId}/ownList (userId=${session.user.userId})}">내 예약내역</a></li>
                <li><a class="dropdown-item" th:href="@{/post/{userId}/ownList (userId=${session.user.userId})}">내 시술내역</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
            </ul>
        </li>
    </ul>
</nav>