<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Autumn Brow</title>
        <link href="/css/simple-datatables@7.1.2-style.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${kakaoMapKey} + '&libraries=services'"></script>
    </head>
    <style>
        .swiper-container1, .swiper-container2 {
            width: 100%; /* 컨테이너의 가로 크기를 100%로 설정 */
            max-width: 600px; /* 최대 가로 크기 */
        }

        .swiper-container3 {
            width: 100%; /* 컨테이너의 가로 크기를 100%로 설정 */
            max-width: 1280px; /* 최대 가로 크기 */
        }

        #swiper-container1, #swiper-container2, #swiper-container3  {
            justify-content: center;
            align-items: center;
            width: auto; /* 슬라이드의 너비를 자동으로 설정 */
            height: auto; /* 슬라이드의 높이도 자동으로 설정 */
        }

    </style>
<body class="sb-nav-fixed">

    <!-- header -->
    <div th:insert="~{/header.html}"></div>

        <div id="layoutSidenav">

            <!-- sidebar -->
            <div th:insert="~{/sidebar.html}"></div>

            <div id="layoutSidenav_content">

                <!-- 메인화면 -->
                <main>
                    <div class="container mb-5">

                        <div class="text-center">
                            <img src="http://hhjnn92.synology.me/Project/AutumnBrow/AutumnBrow.png" style="width: 400px; height: 400px;">
                        </div>

                        <div class="row d-flex justify-content-between mb-5">

                            <div class="row justify-content-center col-md-6" >
                                <div class="card mb-5" style="padding: 0px;">
                                    <div class="card-header d-flex justify-content-between">
                                        <h5 class="p-1">공지사항</h5>
                                        <a href="/notice/list" class="text-decoration-none text-secondary p-2"><span><i class="fa-solid fa-plus"></i> 더보기</span></a>
                                    </div>
                                    <div class="card-body d-flex justify-content-around">
                                        <div class="swiper-container1" style="overflow: hidden;">
                                            <div class="swiper-wrapper">
                                                <div id="swiper-container1" class="swiper-slide" th:each="notice : ${notices}">
                                                    <!-- 출력할 최대갯수 지정
                                                    <div id="swiper-container1" class="swiper-slide" th:each="notice, iterStat : ${notices}" th:if="${iterStat.index < 5}">-->
                                                    <a th:href="@{/notice/{noticeId}/detail (noticeId=${notice.noticeId})}">
                                                        <div th:if="${notice.imageUrls != null and !notice.imageUrls.isEmpty()}">
                                                            <img class="mt-3 mb-3" th:src="@{|http://hhjnn92.synology.me/Project/AutumnBrow/notice/${notice.imageUrls[0]}|}" style="width: 100%; height: 120px;">
                                                        </div>
                                                        <div th:if="${notice.imageUrls == null or notice.imageUrls.isEmpty()}">
                                                            <img class="mt-3 mb-3" src="http://hhjnn92.synology.me/Project/AutumnBrow/autumn.png" style="width: 100%; height: 120px;">
                                                        </div>
                                                    </a>
                                                    <p class="text-center"><strong class="card-text mt-5" th:text="${notice.title}"></strong></p>
                                                </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center col-md-6" >
                                <div class="card mb-5" style="padding: 0px;">
                                    <div class="card-header d-flex justify-content-between">
                                        <h5 class="p-1">이벤트</h5>
                                        <a href="/event/list" class="text-decoration-none text-secondary p-2"><span><i class="fa-solid fa-plus"></i> 더보기</span></a>
                                    </div>
                                    <div class="card-body d-flex justify-content-around">
                                        <div class="swiper-container2" style="overflow: hidden;">
                                            <div class="swiper-wrapper">
                                                <div id="swiper-container2" class="swiper-slide" th:each="event : ${events}">
                                                    <!-- 출력할 최대갯수 지정
                                                    <div id="swiper-container1" class="swiper-slide" th:each="notice, iterStat : ${notices}" th:if="${iterStat.index < 5}">-->
                                                    <a th:href="@{/event/{eventId}/detail (eventId=${event.eventId})}">
                                                        <div th:if="${event.imageUrls != null and !event.imageUrls.isEmpty()}">
                                                            <img class="mt-3 mb-3" th:src="@{|http://hhjnn92.synology.me/Project/AutumnBrow/event/${event.imageUrls[0]}|}" style="width: 100%; height: 120px;">
                                                        </div>
                                                        <div th:if="${event.imageUrls == null or event.imageUrls.isEmpty()}">
                                                            <img class="mt-3 mb-3" src="http://hhjnn92.synology.me/Project/AutumnBrow/autumn.png" style="width: 100%; height: 120px;">
                                                        </div>
                                                    </a>
                                                    <p class="text-center"><strong class="card-text mt-5" th:text="${event.title}"></strong></p>
                                                </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row d-flex justify-content-center mb-5">

                            <div class="row justify-content-center col-md-12">
                                <div class="card mb-5" style="padding: 0px;">
                                    <div class="card-header d-flex justify-content-between">
                                        <h5 class="p-1">후기</h5>
                                        <a href="#" class="text-decoration-none text-secondary p-2"><span><i class="fa-solid fa-plus"></i> 더보기</span></a>
                                    </div>
                                    <div class="card-body d-flex justify-content-around">
                                        <div class="swiper-container3" style="overflow: hidden;">
                                            <div class="swiper-wrapper" style="justify-content: space-around;">
                                                <!-- 후기 이미지 및 제목 출력 -->
                                                <div id="swiper-container3" class="swiper-slide" th:each="review : ${reviews}">
                                                    <img class="mt-3 mb-3" th:src="@{|http://hhjnn92.synology.me/Project/AutumnBrow/review/${review.reviewUrl}|}" style="width: 100%; height: 160px;">
                                                    <p class="text-center"><strong class="card-text mt-5" th:text="${review.title}"></strong></p>
                                                </div>
                                            </div>
                                            <!-- Swiper Pagination -->
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center mb-5">

                            <div class="row justify-content-center">
                                <div class="row card col-md-12 mb-5" style="padding: 0px;">
                                    <div class="card-header">찾아오시는 길</div>
                                    <div class="card-body" id="map" style="width: 100%; height: 350px;">
                                    </div>
                                    <div class="card-footer">
                                        <p><strong>서울특별시 강서구 마곡중앙로 165 (마곡동) 마곡나루역 프라이빗타워 1차 12층 1209호</strong></p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </main>
                <!-- 메인화면 끝 -->

                <!-- footer -->
                <div th:insert="~{/footer.html}"></div>

            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.5685606, 126.827738), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다


        var iwContent = '<div style="padding:0px 50px"><a href="http://map.naver.com/p/directions/-/14118399.401865814,4518660.919161124,%EB%A7%88%EA%B3%A1%EB%82%98%EB%A3%A8%EC%97%AD%ED%94%84%EB%9D%BC%EC%9D%B4%EB%B9%97%ED%83%80%EC%9B%8C1%EC%B0%A8,61727348,PLACE_POI/-/car" target="_blank"><img src="http://hhjnn92.synology.me/Project/AutumnBrow/AutumnBrow.png" style="width: 50px; height: 50px;"></a></div>',
            iwPosition = new kakao.maps.LatLng(37.5685606, 126.827738); //인포윈도우 표시 위치입니다

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            position : iwPosition,
            content : iwContent
        });

        // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
        infowindow.open(map);
    </script>
    <script>
        var swiper1 = new Swiper('.swiper-container1', {
            slidesPerView: 2, // 기본적으로 1개의 슬라이드만 보이게 설정
            spaceBetween: 20, // 슬라이드 간의 간격
            centeredSlides: true, // 슬라이드가 적을 경우 중앙 정렬
            breakpoints: {
                576: { // 화면 크기 576px 이상
                    slidesPerView: 2, // 2개의 슬라이드 보이기
                    centeredSlides: false, // 작은 화면에서는 중앙 정렬 해제
                },
                992: { // 화면 크기 992px 이상
                    slidesPerView: 3, // 최대 3개의 슬라이드 보이기
                    centeredSlides: false, // 큰 화면에서는 중앙 정렬 해제
                },
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true, // 페이지네이션 클릭 가능
            },
        });


        var swiper2 = new Swiper('.swiper-container2', {
            slidesPerView: 2, // 기본적으로 1개의 슬라이드만 보이게 설정
            spaceBetween: 20, // 슬라이드 간의 간격
            centeredSlides: true, // 슬라이드가 적을 경우 중앙 정렬
            breakpoints: {
                576: { // 화면 크기 576px 이상
                    slidesPerView: 2, // 2개의 슬라이드 보이기
                    centeredSlides: false, // 작은 화면에서는 중앙 정렬 해제
                },
                992: { // 화면 크기 992px 이상
                    slidesPerView: 3, // 최대 3개의 슬라이드 보이기
                    centeredSlides: false, // 큰 화면에서는 중앙 정렬 해제
                },
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true, // 페이지네이션 클릭 가능
            },
        });


        var swiper3 = new Swiper('.swiper-container3', {
            slidesPerView: 2,
            spaceBetween: 20,
            breakpoints: {
                576: { // 화면 크기 576px 이상
                    slidesPerView: 2,
                },
                768: { // 화면 크기 768px 이상
                    slidesPerView: 3,
                },
                992: { // 화면 크기 992px 이상
                    slidesPerView: 4,
                },
                1200: { // 화면 크기 1200px 이상
                    slidesPerView: 5,
                },
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
</body>
</html>