<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading"></div>
                <a class="nav-link" href="/notice/list">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    공지사항
                </a>
                <a class="nav-link" href="/event/list">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    이벤트
                </a>
                <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    후기
                </a>

                <!-- 상위메뉴1 시작 -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#reservation" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    예약
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="reservation" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="#">예약하기</a>
                        <a class="nav-link" href="#">예약 확인</a>
                    </nav>
                </div>
                <!-- 상위메뉴1 끝 -->

                <!-- 상위메뉴1 시작 -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    주의사항
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/caution/before">시술 전 주의사항</a>
                        <a class="nav-link" href="/caution/after">시술 후 주의사항</a>
                    </nav>
                </div>
                <!-- 상위메뉴1 끝 -->

                <!-- 상위메뉴2 시작 -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages2" aria-expanded="false" aria-controls="collapsePages2">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    관리자 메뉴
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages2" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages2">

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth3" aria-expanded="false" aria-controls="pagesCollapseAuth3">
                            시술
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="pagesCollapseAuth3" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages2">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/post/create">시술내역 등록</a>
                                <a class="nav-link" href="/post/list">시술내역 관리</a>
                                <a class="nav-link" href="/treatment/list">시술목록 관리</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth4" aria-expanded="false" aria-controls="pagesCollapseAuth4">
                            공지사항
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="pagesCollapseAuth4" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages2">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/notice/create">공지사항 등록</a>
                                <a class="nav-link" href="/notice/update">공지사항 수정</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth5" aria-expanded="false" aria-controls="pagesCollapseAuth5">
                            이벤트
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="pagesCollapseAuth5" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages2">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/event/create">이벤트 등록</a>
                                <a class="nav-link" href="/event/update">이벤트 수정</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth6" aria-expanded="false" aria-controls="pagesCollapseAuth6">
                            주의사항
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="pagesCollapseAuth6" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages2">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/caution/create">주의사항 등록</a>
                                <a class="nav-link" href="#">주의사항 수정</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth7" aria-expanded="false" aria-controls="pagesCollapseAuth7">
                            회원
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="pagesCollapseAuth7" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages2">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/user/list">회원 조회</a>
                            </nav>
                        </div>

                    </nav>
                </div>
                <!-- 상위메뉴2 끝 -->

            </div>
        </div>
    </nav>
</div>